#homeProducts .container-desc button{
    height: 36px;
}

#homeProducts .container-desc input {
    width: 24%;
    text-align: center;
    border: none;
    float: left;
    position: relative;
    left: -11px;
    height: 36px;
    background-color: #a20937;
    top: -7px;
    color: #fff;
}

#homeProducts h3{
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color: #eee;
    padding: 5px;
}

#homeProducts .products{
    padding: 10px 40px;
    display: grid;
}

#homeProducts .container-img {
    display: flex;
    height: 100%;
    align-items: center;
}

#homeProducts .products img{
    max-width: 100%;
    max-height: 180px;
    margin: 0 auto;
}

div#carouselHomePage {
    max-height: 490px;
    overflow: hidden;
}

nav.topnav {
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    position: relative;
    z-index: 100;
}

.carousel-item img {
    width: 100%;
}
