.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #4b4b4b;
    background-color: #fff;
    border-color: #4b4b4b;
}

.pagination>li>a, .pagination>li>span {
    color: #4b4b4b;
}

.total-search {
    text-align: center;
}

.FormFilter{
    display: none;
}

.mainTopBody ul a{
    cursor: pointer;
}
.mainTopBody ul a:hover{
    opacity: 0.7;
}

.scal-power{
    text-align: right;
}

.eaglemossComparation{
    padding: 30px;
}
.eagle-compare-item{
    padding: 10px;
    float: left;
}
.eagle-strong{
    padding: 5px;
}

.body-all th{
    width: 0px;
}

.box-toast-all{
    position: fixed;
    z-index: 9999;
    top: 60px;
    right: 10px;
}

.box-toast-all .toast .alert{
    margin: 0px;
}

.strongalot {
    border: 5px solid #7daf5e;
    padding: 6px;
    overflow: hidden;
}

.compareNav{
    position: relative;
    z-index: 6;
    top: -18px
}

.strongalot::before {
    content: "Vencedor";
    width: 100%;
    height: 40px;
    align-items: center;
    position: absolute;
    display: grid;
    background-color: #7daf5e;
    top: 0px;
    right: 0px;
    color: #fff;
    text-align: center;
    z-index: 5;
}

.lineEagle {
    margin: 25px 0px;
    padding-top: 25px;
    border-top: 1px dashed #c1c1c1;
}

#Add-Banner label.active, #Edit-Banner label.active {
    background-color: #17a2b8;
}

.listBanner{
    word-break: break-word;
    border-top: 1px dashed #c1c1c1;
    padding: 20px 0px 10px 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.megasena ul.pagination li a, .megasena ul.pagination li.active{
    display: block;
    background-color: #d1d1d1;
    margin: 2px;
    padding: 5px;
    box-shadow: none;
    color: #555;
    border-radius: 5px;
}

.megasena ul.pagination li.active span, .megasena ul.pagination li.active{
    color: #fff;
    background-color: #a20937;
}

.content-luckNumbers, .content-manyNumbers, .content-generateNumbers{
    max-height: 500px;
}
#allNumbersContent .card-body, .content-getallNumbers{
    max-height: 600px;
}

.content-luckNumbers{
}

.content-manyNumbers{
}

.content-generateNumbers{
}
.pagination a, span{
    font-size: 10px;
}
.page-item.active .page-link, .page-item.active .page-link:hover {
    z-index: 1;
    color: #fff;
    background-color: #50544f;
    border-color: #a0a89e;
    cursor: default;
}